<div class="container">
  <h3>
    {{ nameType }}
  </h3>
</div>
<div class="container table-responsive py-5">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="header type-column" scope="col"> Detail</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a target="_blank"
          rel="noopener noreferrer"
          [href]="'https://market.radiocaca.com/#/market-place/' + row.id"
          >{{row.id}}</a
        >
      </mat-cell>
    </ng-container>

    <!-- fixed_price Column -->
    <ng-container matColumnDef="fixed_price">
      <mat-header-cell *matHeaderCellDef scope="col">
        fixed_price
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fixed_price}}</mat-cell>
    </ng-container>

    <!-- imageUrl Column -->
    <ng-container matColumnDef="image_url">
      <mat-header-cell *matHeaderCellDef scope="col">Image Url</mat-header-cell>
      <mat-cell *matCellDef="let row"><img [src]="row.image_url" width="65" height="45"/> </mat-cell>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef scope="col">
        status
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"> </mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
